.cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 17px;
  margin-top: 50px;
}
@media screen and (max-width:880px) {
  .cards{
    margin: 0 auto;
  }
}
@media screen and (max-width:670px) {
  .cards{
    margin-top: 0;
  }
}