.popup__input {
  box-sizing: border-box;
  margin: 0;
  padding: 0 0 10px;
  display: block;
  width: 100%;
  border: none;
  outline: 0;
  border-bottom: 1px solid rgba( 0, 0, 0, .2);
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
}

.popup__input:last-of-type {
  margin: 30px 0 0;
}

@media screen and (max-width: 580px) {
  .popup__input {
    max-width: 238px;
    width: 100%;
    padding: 0 0 10px;
    margin: 20px 0 20px;
  }
  .popup__input:last-of-type {
    margin: 30px 0 0;
  }
}