.popup__input {
  display: block;
  width: 100%;
  border: none;
  outline: 0;
  border-bottom: 1px solid rgba( 0, 0, 0, .2);
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  padding-bottom: 10px;
  padding-top: 40px;
}

@media screen and (max-width: 580px) {
  .popup__input {
    max-width: 238px;
    width: 100%;
    box-sizing: border-box;
  }
}

