.popup__container {
  box-sizing: border-box;
  padding: 34px 36px 37px;
  background-color: #fff;
  position: relative;
  max-width: 430px;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0px 0px 25px rgba(0,0,0, .15);
}

@media screen and (max-width: 580px) {
  .popup__container {
    max-width: 282px;
    padding: 15px 22px;
  }
}