.profile__button-edit {
  background-color: transparent;
  grid-row: 1 / 2;
  background-image: url('../../../../images/editButton.svg');
  border: 1px solid #fff;
  background-size: 10px 10px;
  background-repeat: no-repeat;
  background-position: center;
  fill: #fff;
  width: 24px;
  height: 24px;
  margin-left: 20px;
  margin-top: 25px;
}

@media screen and (max-width: 320px) {
  .profile__button-edit {
    margin: 5px 0 0 10px;
    width: 18px;
    height: 18px;
    padding: 7px 7px;
    background-size: 7.5px 7.5px;
  }
}