.profile {
  color: #fff;
  display: grid;
  padding: 40px 0 0;
}
@media screen and (max-width: 880px) {
  .profile {
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    justify-items: center;
  }
}

@media screen and (max-width: 580px) {
  .profile {
    padding-top: 30px;
    padding-bottom: calc(36px + (51 - 36) * (100vw - 320px) / (1280 - 320));
    padding-left: 19px;
    padding-right: 19px;
    gap: 0;
  }
}

@media screen and (max-width: 320px) {
  .profile {
    padding-top: 40px;
    gap: 10px;
  }
}
