.popup__close {
  display: block;
  background-image: url('../../../images/closeIcon.svg');
  background-position: center;
  background-color: transparent;
  background-repeat: no-repeat;
  position: absolute;
  border: none;
  top: -40px;
  right: -40px;
  width: 32px;
  height: 32px;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.popup__close:hover {
  opacity: .6;
}

@media screen and (max-width: 580px) {
  .popup__close {
    right: 0;
    top: -48px;
    width: 20px;
    background-size: 20px 20px;
  }
}
@media screen and (max-width: 320px) {
  .popup__close {
    top: -36px;
    height: 100%;
    max-width: 20px;
    max-height: 20px;
  }
}