.header__logo{
  position: absolute;
  max-width: 142px;
  width: 100%;
  height: 45px;
  top: 0;
  left: 0;
}

@media screen and (max-width:670px) {
  .header__logo{
    max-width: 104px;
    height: auto;
    left: 27px;
    width: calc(74px + (142 - 74) * (100vw - 320px) / (1280 - 320));
    height: calc(33px + (33 - 25) * (100vw - 320px) / (1280 - 320));
  }
}