.profile__bio {
  margin: 0;
  max-width: 350px;
  align-self: flex-start;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  grid-column: 2/3;
  grid-row: 2;
  padding-left: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (max-width: 670px) {
  .profile__bio{
    align-self: center;
    /* max-width: 80%; */
    font-size: calc(14px + (18 - 14) * (100vw - 320px) / (1280 - 320));
  }
}
@media screen and (max-width: 320px) {
  .profile__bio{
    max-width: 280px;
    padding: 10px 19px 0;
    /* font-size: calc(14px + (18 - 14) * (100vw - 320px) / (1280 - 320)); */
  }
}