.profile__bio {
  margin: 0;
  padding: 8px 0 0 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 917px) {
  .profile__bio {
    text-align: center;
    font-size: 14px;
    line-height: 17px;
  }
}
