.header {
  position: relative;
  display: flex;
  width: 100%;
  padding-top: 74px;
  border-bottom: 1px solid #545454;
}

@media screen and (max-width:670px) {
  .header {
  padding-top: calc(94px + (119 - 94) * (100vw - 320px) / (1280 - 320));
  padding-top: calc(56px + (120 - 56) * (100vw - 320px) / (1280 - 320));
  }
}