.footer {
  margin: 0;
  padding-top: 67px;
  padding-bottom: 60px;
}

@media screen and (max-width: 880px) {
  .footer {
    padding-left: 50px;
  }
}

@media screen and (max-width: 320px) {
  .footer {
    padding-top: 50px;
    padding-left: 0;
  }
}