.card__like {
  border: none;
  display: block;
  cursor: pointer;
  width: 22px;
  height: 33px;
  padding: 0;
  margin: 0;
  background-color: transparent;
  padding-right: 61px;
  background-image: url("../../../images/heart.svg");
  background-size:auto;
  background-position: center;
  background-repeat: no-repeat;
}

.card__like:hover { 
  opacity: .5;
}