@import url('../vendor/normalize.css');
@import url('../vendor/fonts.css');
@import url('../blocks/page/page.css');

/* Header Styles */
@import url('../blocks/header/header.css');
@import url('../blocks/header/__logo/header__logo.css');

/* Profile Styles */
@import url('../blocks/profile/profile.css');
@import url('../blocks/profile/__info/profile__info.css');
@import url('../blocks/profile/__image/profile__image.css');
@import url('../blocks/profile/__column/profile__column.css');
@import url('../blocks/profile/__name/profile__name.css');
@import url('../blocks/profile/__bio/profile__bio.css');
@import url('../blocks/profile/__button-add/profile__button-add.css');
@import url('../blocks/profile/__button-edit/profile__button-edit.css');

/* Cards Styles */
@import url('../blocks/cards/cards.css');
@import url('../blocks/card/card.css');
@import url('../blocks/card/__description/card__description.css');
@import url('../blocks/card/__image/card__image.css');
@import url('../blocks/card/__delete/card__delete.css');
@import url('../blocks/card/__title/card__title.css');
@import url('../blocks/card/__like/card__like.css');
@import url('../blocks/card/__like/_pressed/card__like_pressed.css');

/* Footer styles */
@import url('../blocks/footer/footer.css');
@import url('../blocks/footer/__content-copyright/footer__content-copyright.css');

/* Form Styles */
@import url('../blocks/popup/popup.css');
@import url('../blocks/popup/_opened/popup_opened.css');
@import url('../blocks/popup/__container/popup__container.css');
@import url('../blocks/popup/__form-title/popup__form-title.css');
@import url('../blocks/popup/__form/popup__form.css');
@import url('../blocks/popup/__input/popup__input.css');
@import url('../blocks/popup/__close/popup__close.css');
@import url('../blocks/popup/__save/popup__save.css');
@import url('../blocks/popup/__image-container/popup__image-container.css');
@import url('../blocks/popup/__image-fullsize/popup__image-fullsize.css');
@import url('../blocks/popup/__image-title/popup__image-title.css');
@import url('../blocks/popup/__input/__input-error/popup__input-error.css');
@import url('../blocks/popup/__input/__input_type_error/popup__input_type_error.css');
@import url('../blocks/popup/__input/__input-error_active/popup__input-error_active.css');
@import url('../blocks/popup//__save/__save_inactive/popup__save_inactive.css');