.button_edit {
  background-color: black;
  grid-row: 1 / 2;
  background-image: url('../../../Images/editButton.svg');
  background-repeat: no-repeat;
  background-position: center;
  fill: #fff;
  width: 24px;
  height: 24px;
  margin-left: 18px;
  margin-top: 37px;
}

@media screen and (max-width: 320px) {
  .button_edit{
    margin-top: 0;
    padding-top: 55px;
    padding-bottom: 0;
  }
}