.profile__bio {
  margin: 0;
  align-self: flex-start;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  padding-top: 6px;
  grid-column: 2/3;
  grid-row: 2;
}

@media screen and (max-width: 670px) {
  .profile__bio{
    align-self: center;
    margin-top: 18px;
  }
}
@media screen and (max-width: 370px) {
  .profile__bio{
    margin-top: 14px;
    font-size: calc(14px + (18 - 14) * (100vw - 320px) / (1280 - 320));
  }
}